.container-fluid{
	background:#F5F5F5;

}


img{
	 	margin-left: auto;
  margin-right: auto;
}
button{
	margin-left: auto;
  margin-right: auto;
  
}
figcaption{
	
	margin: auto;
	width: 90px;
}
figure{
	width: 650px;
}

.figure-caption{
  
  background:#F5F5F5;
}



